<h1>Type in your new task</h1>

<%= form_for @task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "create task" %>
<% end %>
